name: Node.js Package

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  id-token: write # Required for OIDC

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run build
      - run: npm test
      - run: npm publish --provenance --access public
